        <!-- Sidebar -->
        <ul class="navbar-nav fh-primary-cl sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand" href="/admin">
                <div class="sidebar-brand-text">Admin Panel</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/getBannerMangement">
                        <i class="fa fa-box"></i>
                    <span>Banner Management</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/adminDishes">
                        <i class=" fas fa fa-th fa-tachometer-alt"></i>
                    <span>Dishes</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/getCategoryManagement">
                    <i class="fa fa-list"></i>
                    <span>Category Management</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/getAdminOrders">
                    <i class="fa fa-list-alt"></i>
                    <span>Orders</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/getUserManagement">
                    <i class="fa fa-users"></i>
                    <span>Users</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/getCouponManagement">
                    <i class="fa fa-gift"></i>
                    <span>Coupon Management</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../admin/getBatchManagement">
                    <i class="fa fa-columns"></i>
                    <span>Batch Management</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"><i class="zmdi zmdi-arrow-left"></i></button>
            </div>

        </ul>
        <!-- End of Sidebar -->