<!DOCTYPE html>
<html lang="en">

<head>
	<title>Who we are? About FudHub</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icons/favicon.png" />

	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">

	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">

	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">

	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">

	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">

	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">

	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" href="stylesheets/style.css">

</head>

<body class="animsition">

	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar p-l-22">
						Free shipping for orders above ₹499
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="#" class="logo">
						<img src="images/icons/logo-01.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/">Home</a>
							</li>
							<li class="active-menu">
								<a href="#">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>
		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li>
					<a href="/">Home</a>
				</li>
				<li class="active-menu">
					<a href="#">About</a>
				</li>

				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</header>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							FudHub was founded by Abdul Vajid M, a Mern stack developer with a passion for healthy
							eating and convenience. Recognizing a gap in the market for a food delivery service that
							offered both, Abdul set out to create a platform that would make it easy for people to
							access delicious, nutritious food.
						</p>

						<p class="stext-113 cl6 p-b-26">
							With a focus on sourcing the freshest ingredients and preparing meals that are both healthy
							and full of flavor, FudHub offers a diverse range of options to cater to different dietary
							requirements. From traditional Kerala cuisine to international flavors, FudHub's menu is
							designed to provide customers with a variety of choices.

							Abdul's background in technology has allowed him to create a platform that is not only
							convenient and accessible, but also environmentally conscious. With biodegradable packaging
							and support for local suppliers and farmers, FudHub is committed to creating a more
							sustainable food system.
						</p>

						<p class="stext-113 cl6 p-b-26">
							At FudHub, the focus is on providing customers with an exceptional experience, from the
							quality of the food to the speed and efficiency of delivery. With a team of chefs and
							foodies constantly experimenting and innovating, FudHub is dedicated to bringing healthy and
							delicious food to your doorstep.
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							We are on a mission to revolutionize the way
							people think about healthy eating. Our goal is to make it easy for people to access
							delicious, nutritious food that supports a healthy lifestyle.
							Based in Kerala, we are dedicated to sourcing the freshest ingredients and preparing meals
							that are both healthy and full of flavor. Our menu features a range of dishes, from
							traditional Kerala cuisine to international flavors, giving our customers a diverse range of
							options to choose from. We understand that people have different dietary requirements and
							preferences, which is why we offer options to cater to your needs, whether you're a
							vegetarian, vegan, gluten-free, or have any other dietary restrictions.
						</p>

						<p class="stext-113 cl6 p-b-26">
							At FudHub, we believe that healthy eating should be convenient and accessible to everyone.
							That's why we offer delivery services to homes and offices, making it easy for you to enjoy
							healthy meals without having to leave the comfort of your own space. Our delivery team is
							committed to delivering your food quickly and efficiently, ensuring that it arrives hot and
							fresh every time.
							Join us on our mission to bring healthy and delicious food to your doorstep. At FudHub, we
							are dedicated to making healthy eating easy and accessible to everyone. Let us help you take
							the first step towards a healthier, happier you.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								People who love to eat are always the best people." "To eat is a necessity, but to eat
								intelligently is an art." "We all eat, an it would be a sad waste of opportunity to eat
								badly." "If you really want to make a friend, go to someone's house and eat with
								him...the people who give you their food give you their heart.
							</p>

							<span class="stext-111 cl8">
								- Abdul Vajid (CEO of FudHub)
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- Footer -->
	<%- include('../partials/footer.ejs')%>


		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>


		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>

		<script src="vendor/animsition/js/animsition.min.js"></script>

		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

		<script src="vendor/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function () {
				$(this).select2({
					minimumResultsForSearch: 20,
					dropdownParent: $(this).next('.dropDownSelect2')
				});
			})
		</script>

		<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>

		<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script>
			$('.js-pscroll').each(function () {
				$(this).css('position', 'relative');
				$(this).css('overflow', 'hidden');
				var ps = new PerfectScrollbar(this, {
					wheelSpeed: 1,
					scrollingThreshold: 1000,
					wheelPropagation: false,
				});

				$(window).on('resize', function () {
					ps.update();
				})
			});
		</script>

		<script src="js/main.js"></script>

</body>

</html>