.switch-toggle {
    float: left;
    background: #fff;
    min-width: 111px;
    height: 40px;
    padding: 5px;
    color: #333;
 }
 .switch-toggle input {
   position: absolute;
   opacity: 0;
 }
 .switch-toggle input + label {
   padding: 7px;
   float:left;
   color: #333;
   cursor: pointer;
 }
 .switch-toggle input:checked + label {
   color: #A81623;
   font-weight: bold;
 }